body{
    
    font-size: x-large;
    font-style: italic;
    font-variant: initial;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
}
.img1 {
    height: 90px;
    width: 250px;
    padding-right:800px;
}
.nav-links {
    list-style: none;
    display: flex;
    
}
.nav-links a {
    color:black;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
   
}


